:root {
    background: linear-gradient(90deg, #070212, #180739);
  }
  
  .homepage {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-left: 80px; 
  }
  
  .main-content {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    color: aliceblue;
    max-width: 600px; 
  }
  
  .main-content h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    color: aliceblue;
  }
  
  .main-content p {
    margin-top: 20px;
  }
  
  .header-line {
    font-size: 16px;
    font-weight: 700;
    color: #FCFFFE;
    background-color: black;
    border: 2px solid #FF4081;
    border-radius: 30px;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #FCFFFE;
    border: none;
    color: rgb(2, 2, 37);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;



    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #CDCCCF;
  }

  .gradient-text {
    background: linear-gradient(90deg, #D933A1, #9C22AA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
