/* :root {
    --red-50: #fef2f2;
    --red-100: #fee2e2;
    --red-200: #fecaca;
    --red-300: #fca5a5;
    --red-400: #f87171;
    --red-500: #ef4444;
    --red-600: #dc2626;
    --red-700: #b91c1c;
    --red-800: #991b1b;
    --red-900: #7f1d1d;
   
  } */
   /* Add the rest of the colors from the Tailwind color palette */
  
  /* Example usage of these variables */
  body {
    background-color: var(--red-100);
  }
  
  .dark-mode {
    background-color: var(--red-900);
  }
  


  .Project-container {
    width: 20rem; /* Equivalent to w-80 */
    margin: 0 auto; /* Equivalent to mx-auto */
  }
  
  .Project-relative-card {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 1rem; /* Equivalent to rounded-2xl */
    transition: box-shadow 0.2s ease-in-out;
    background-color: white;
    border: 1px solid #f1f1f1; /* Equivalent to border-zinc-100 */
  }
  
  .Project-relative-card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Equivalent to hover:shadow-xl */
  }
  
  .Project-image-wrapper {
    width: 100%;
    padding-top: 62.5%; /* Aspect ratio 16:10 */
    background-color: #f3f3f3; /* Equivalent to bg-gray-100 */
    border-radius: 0.5rem 0.5rem 0 0; /* Equivalent to rounded-tr-lg and rounded-tl-lg */
    position: relative;
    overflow: hidden;
  }
  
  .Project-image-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  }
  
  .Project-relative-card:hover .image-thumbnail {
    transform: scale(0.95);
    border-radius: 1rem; /* Equivalent to group-hover:rounded-2xl */
  }
  
  .Project-content {
    padding: 1rem;
  }
  
  .Project-title {
    font-weight: bold;
    margin: 1rem 0;
    font-size: 1.125rem; /* Equivalent to text-lg */
    color: #52525b; /* Equivalent to text-zinc-700 */
  }
  
  .Project-description {
    font-weight: normal;
    margin: 1rem 0;
    font-size: 0.875rem; /* Equivalent to text-sm */
    color: #a1a1aa; /* Equivalent to text-zinc-500 */
  }
  
  .Project-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
  }
  
  .Project-date {
    font-size: 0.875rem; /* Equivalent to text-sm */
    color: #9ca3af; /* Equivalent to text-gray-500 */
  }
  
  .Project-read-more {
    padding: 0.5rem 1.5rem; /* Equivalent to px-6 py-2 */
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 0.75rem; /* Equivalent to rounded-xl */
    font-size: 0.75rem; /* Equivalent to text-xs */
    display: inline-block;
    position: relative;
    z-index: 10;
  }

  .Project-title-component {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Equivalent to space-x-2 */
  }
  
  .Project-avatar {
    height: 20px;
    width: 20px;
    border-radius: 50%; /* Equivalent to rounded-full */
    border: 2px solid white; /* Equivalent to border-2 border-white */
  }
  
  